@model TFG_FUTBOL.DataModels.USUARIOS

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>USUARIOS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenha" class="control-label"></label>
                <input asp-for="Contrasenha" class="form-control" />
                <span asp-validation-for="Contrasenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
