USE [TFG_FUTBOL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMPORADAS_JUGADORES]') AND type in (N'U'))
ALTER TABLE [dbo].[TEMPORADAS_JUGADORES] DROP CONSTRAINT IF EXISTS [FK_TEMPORADAS_JUGADORES_JUGADORES_OJEADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMPORADAS_EMPLEADOS]') AND type in (N'U'))
ALTER TABLE [dbo].[TEMPORADAS_EMPLEADOS] DROP CONSTRAINT IF EXISTS [FK_TEMPORADAS_EMPLEADOS_EMPLEADOS_OJEADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OJEADOS]') AND type in (N'U'))
ALTER TABLE [dbo].[OJEADOS] DROP CONSTRAINT IF EXISTS [FK_OJEADOS_CLUB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JUGADORES_OJEADOS]') AND type in (N'U'))
ALTER TABLE [dbo].[JUGADORES_OJEADOS] DROP CONSTRAINT IF EXISTS [FK_JUGADORES_OJEADOS_OJEADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JUGADORES]') AND type in (N'U'))
ALTER TABLE [dbo].[JUGADORES] DROP CONSTRAINT IF EXISTS [FK_JUGADORES_EMPLEADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EQUIPOS]') AND type in (N'U'))
ALTER TABLE [dbo].[EQUIPOS] DROP CONSTRAINT IF EXISTS [FK_EQUIPOS_CLUB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ENTRENADORES]') AND type in (N'U'))
ALTER TABLE [dbo].[ENTRENADORES] DROP CONSTRAINT IF EXISTS [FK_ENTRENADORES_EMPLEADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADOS_OJEADOS]') AND type in (N'U'))
ALTER TABLE [dbo].[EMPLEADOS_OJEADOS] DROP CONSTRAINT IF EXISTS [FK_EMPLEADOS_OJEADOS_OJEADOS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADOS]') AND type in (N'U'))
ALTER TABLE [dbo].[EMPLEADOS] DROP CONSTRAINT IF EXISTS [FK_EMPLEADOS_EQUIPOS]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[USUARIOS]
GO
/****** Object:  Table [dbo].[TEMPORADAS_JUGADORES]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[TEMPORADAS_JUGADORES]
GO
/****** Object:  Table [dbo].[TEMPORADAS_EMPLEADOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[TEMPORADAS_EMPLEADOS]
GO
/****** Object:  Table [dbo].[OJEADOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[OJEADOS]
GO
/****** Object:  Table [dbo].[JUGADORES_OJEADOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[JUGADORES_OJEADOS]
GO
/****** Object:  Table [dbo].[JUGADORES]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[JUGADORES]
GO
/****** Object:  Table [dbo].[EQUIPOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[EQUIPOS]
GO
/****** Object:  Table [dbo].[ENTRENADORES]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[ENTRENADORES]
GO
/****** Object:  Table [dbo].[EMPLEADOS_OJEADOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[EMPLEADOS_OJEADOS]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[EMPLEADOS]
GO
/****** Object:  Table [dbo].[CLUB]    Script Date: 19/08/2020 22:10:43 ******/
DROP TABLE IF EXISTS [dbo].[CLUB]
GO
/****** Object:  Table [dbo].[CLUB]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLUB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Direccion] [nvarchar](200) NULL,
 CONSTRAINT [PK_CLUB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[DNI] [nvarchar](15) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[PrimerApellido] [nvarchar](50) NULL,
	[SegundoApellido] [nvarchar](50) NULL,
	[Telefono1] [nvarchar](20) NULL,
	[Telefono2] [nvarchar](20) NULL,
	[Correo] [nvarchar](50) NULL,
	[AnhoNacimiento] [smallint] NULL,
	[Valoracion] [smallint] NULL,
	[Curriculum] [nvarchar](max) NULL,
	[EquipoID] [int] NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS_OJEADOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS_OJEADOS](
	[DNI] [nvarchar](15) NOT NULL,
	[Formacion] [nvarchar](50) NULL,
	[Experiencia] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMPLEADOS_OJEADOS] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRENADORES]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRENADORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Formacion] [nvarchar](50) NULL,
	[Experiencia] [nvarchar](50) NULL,
	[EmpleadoDNI] [nvarchar](15) NULL,
 CONSTRAINT [PK_ENTRENADORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[ClubID] [int] NULL,
 CONSTRAINT [PK_EQUIPOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Posicion] [nvarchar](50) NULL,
	[PiernaDominante] [nvarchar](50) NULL,
	[Goles] [smallint] NULL,
	[PartidosTitular] [smallint] NULL,
	[EmpleadoDNI] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_JUGADORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUGADORES_OJEADOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_OJEADOS](
	[DNI] [nvarchar](15) NOT NULL,
	[Posicion] [nvarchar](50) NULL,
	[PiernaDominante] [char](1) NULL,
	[ValorDeMercado] [money] NULL,
	[VencimientoContrato] [datetime] NULL,
	[Altura] [smallint] NULL,
	[Peso] [smallint] NULL,
	[EnPrestamo] [bit] NULL,
 CONSTRAINT [PK_JUGADORES_OJEADOS] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OJEADOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OJEADOS](
	[DNI] [nvarchar](15) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[PrimerApellido] [nvarchar](50) NOT NULL,
	[SegundoApellido] [nvarchar](50) NULL,
	[Telefono1] [nvarchar](15) NULL,
	[Telefono2] [nvarchar](15) NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[AnhoNacimiento] [smallint] NULL,
	[Valoracion] [smallint] NULL,
	[Foto] [nvarchar](500) NULL,
	[IdClub] [int] NULL,
	[Club] [nvarchar](50) NULL,
	[Pasaporte] [nvarchar](20) NULL,
	[PaisNacimiento] [nvarchar](100) NULL,
 CONSTRAINT [PK_OJEADOS] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPORADAS_EMPLEADOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPORADAS_EMPLEADOS](
	[DNI] [nvarchar](15) NOT NULL,
	[Temporada] [nvarchar](50) NOT NULL,
	[PartidosJugados] [smallint] NULL,
	[Victorias] [smallint] NULL,
	[Derrotas] [smallint] NULL,
	[Empates] [smallint] NULL,
	[Puntos] [smallint] NULL,
	[Competicion] [smallint] NULL,
	[Club] [nvarchar](50) NULL,
 CONSTRAINT [PK_TEMPORADAS_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC,
	[Temporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPORADAS_JUGADORES]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPORADAS_JUGADORES](
	[DNI] [nvarchar](15) NOT NULL,
	[Temporada] [nvarchar](50) NOT NULL,
	[Club] [nvarchar](50) NULL,
	[Competicion] [nvarchar](50) NULL,
	[PartidosTitular] [smallint] NULL,
	[PartidosSuplente] [smallint] NULL,
	[PartidosConvocado] [smallint] NULL,
	[MinutosJugados] [smallint] NULL,
	[Goles] [smallint] NULL,
	[TarjetasAmarillas] [smallint] NULL,
	[TarjetasRojas] [smallint] NULL,
 CONSTRAINT [PK_TEMPORADAS_JUGADORES] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC,
	[Temporada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 19/08/2020 22:10:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[PrimerApellido] [nvarchar](50) NULL,
	[SegundoApellido] [nvarchar](50) NULL,
	[NombreUsuario] [nvarchar](10) NOT NULL,
	[Contrasenha] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLUB] ON 

INSERT [dbo].[CLUB] ([ID], [Correo], [Telefono], [Direccion]) VALUES (1, N'convallis.in.cursus@Nuncmauris.com', N'04 46 21 99 42', N'1987 Fames Rd.')
INSERT [dbo].[CLUB] ([ID], [Correo], [Telefono], [Direccion]) VALUES (2, N'Lorem.ipsum.dolor@eu.com', N'03 81 22 06 59', N'1640 Et Av.')
INSERT [dbo].[CLUB] ([ID], [Correo], [Telefono], [Direccion]) VALUES (3, N'imperdiet@nonbibendumsed.ca', N'09 75 46 70 31', N'P.O. Box 133, 2133 Cum Av.')
GO
SET IDENTITY_INSERT [dbo].[CLUB] OFF
GO
INSERT [dbo].[EMPLEADOS_OJEADOS] ([DNI], [Formacion], [Experiencia]) VALUES (N'A9889987Z', N'5 años', N'5')
INSERT [dbo].[EMPLEADOS_OJEADOS] ([DNI], [Formacion], [Experiencia]) VALUES (N'DAH64LFQ2', N'lorem psum', N'sit amet')
INSERT [dbo].[EMPLEADOS_OJEADOS] ([DNI], [Formacion], [Experiencia]) VALUES (N'DAL01MYS0', N'lorem psum', N'sit amet')
GO
INSERT [dbo].[JUGADORES_OJEADOS] ([DNI], [Posicion], [PiernaDominante], [ValorDeMercado], [VencimientoContrato], [Altura], [Peso], [EnPrestamo]) VALUES (N'A9889987J', N'Portero', N'D', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[JUGADORES_OJEADOS] ([DNI], [Posicion], [PiernaDominante], [ValorDeMercado], [VencimientoContrato], [Altura], [Peso], [EnPrestamo]) VALUES (N'EFR03QTS3', N'Delantero', N'D', 500000.0000, CAST(N'2024-12-14T14:07:00.000' AS DateTime), 190, 75, 1)
INSERT [dbo].[JUGADORES_OJEADOS] ([DNI], [Posicion], [PiernaDominante], [ValorDeMercado], [VencimientoContrato], [Altura], [Peso], [EnPrestamo]) VALUES (N'EKV61HEI5', N'Defensa', N'I', 545875.0000, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[OJEADOS] ([DNI], [Nombres], [PrimerApellido], [SegundoApellido], [Telefono1], [Telefono2], [Correo], [AnhoNacimiento], [Valoracion], [Foto], [IdClub], [Club], [Pasaporte], [PaisNacimiento]) VALUES (N'A9889987J', N'Francesco', N'Gregus', N'Gonzales', N'12345', N'54321', N'loremipsum@gmail.com', 1982, NULL, N'93a62462-7d44-4f56-b987-d1089c7d18d4_1.jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[OJEADOS] ([DNI], [Nombres], [PrimerApellido], [SegundoApellido], [Telefono1], [Telefono2], [Correo], [AnhoNacimiento], [Valoracion], [Foto], [IdClub], [Club], [Pasaporte], [PaisNacimiento]) VALUES (N'A9889987Z', N'Jorge', N'Rojas', N'Arévalo', N'123453', N'543212', N'loremipsum2@gmail.com', 1990, NULL, N'5e32d540-4f0e-4fbc-b6bf-590b0ec3c75f_2(2).jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[OJEADOS] ([DNI], [Nombres], [PrimerApellido], [SegundoApellido], [Telefono1], [Telefono2], [Correo], [AnhoNacimiento], [Valoracion], [Foto], [IdClub], [Club], [Pasaporte], [PaisNacimiento]) VALUES (N'AAQ60LRT0', N'Lillian', N'Herrera', N'Wade', N'08 04 51 36 13', N'08 19 53 48 45', N'ultricies.sem@varius.net', 1980, 10, N'3.jpg', 46, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([ID], [Nombres], [PrimerApellido], [SegundoApellido], [NombreUsuario], [Contrasenha], [Correo]) VALUES (1, N'Frances', N'Gardner', N'Hopper', N'quis', N'loremipsum', N'eget.ipsum@lacus.net')
INSERT [dbo].[USUARIOS] ([ID], [Nombres], [PrimerApellido], [SegundoApellido], [NombreUsuario], [Contrasenha], [Correo]) VALUES (2, N'Reuben', N'Wilkins', N'Ware', N'quis,', N'loremipsum', N'vulputate.eu.odio@magnaLoremipsum.org')
INSERT [dbo].[USUARIOS] ([ID], [Nombres], [PrimerApellido], [SegundoApellido], [NombreUsuario], [Contrasenha], [Correo]) VALUES (3, N'MacKensie', N'Hodges', N'Walls', N'erat.', N'loremipsum', N'parturient@in.ca')
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_EQUIPOS] FOREIGN KEY([EquipoID])
REFERENCES [dbo].[EQUIPOS] ([ID])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_EQUIPOS]
GO
ALTER TABLE [dbo].[EMPLEADOS_OJEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOS_OJEADOS_OJEADOS] FOREIGN KEY([DNI])
REFERENCES [dbo].[OJEADOS] ([DNI])
GO
ALTER TABLE [dbo].[EMPLEADOS_OJEADOS] CHECK CONSTRAINT [FK_EMPLEADOS_OJEADOS_OJEADOS]
GO
ALTER TABLE [dbo].[ENTRENADORES]  WITH CHECK ADD  CONSTRAINT [FK_ENTRENADORES_EMPLEADOS] FOREIGN KEY([EmpleadoDNI])
REFERENCES [dbo].[EMPLEADOS] ([DNI])
GO
ALTER TABLE [dbo].[ENTRENADORES] CHECK CONSTRAINT [FK_ENTRENADORES_EMPLEADOS]
GO
ALTER TABLE [dbo].[EQUIPOS]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPOS_CLUB] FOREIGN KEY([ClubID])
REFERENCES [dbo].[CLUB] ([ID])
GO
ALTER TABLE [dbo].[EQUIPOS] CHECK CONSTRAINT [FK_EQUIPOS_CLUB]
GO
ALTER TABLE [dbo].[JUGADORES]  WITH CHECK ADD  CONSTRAINT [FK_JUGADORES_EMPLEADOS] FOREIGN KEY([EmpleadoDNI])
REFERENCES [dbo].[EMPLEADOS] ([DNI])
GO
ALTER TABLE [dbo].[JUGADORES] CHECK CONSTRAINT [FK_JUGADORES_EMPLEADOS]
GO
ALTER TABLE [dbo].[JUGADORES_OJEADOS]  WITH CHECK ADD  CONSTRAINT [FK_JUGADORES_OJEADOS_OJEADOS] FOREIGN KEY([DNI])
REFERENCES [dbo].[OJEADOS] ([DNI])
GO
ALTER TABLE [dbo].[JUGADORES_OJEADOS] CHECK CONSTRAINT [FK_JUGADORES_OJEADOS_OJEADOS]
GO
ALTER TABLE [dbo].[OJEADOS]  WITH CHECK ADD  CONSTRAINT [FK_OJEADOS_CLUB] FOREIGN KEY([IdClub])
REFERENCES [dbo].[CLUB] ([ID])
GO
ALTER TABLE [dbo].[OJEADOS] CHECK CONSTRAINT [FK_OJEADOS_CLUB]
GO
ALTER TABLE [dbo].[TEMPORADAS_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_TEMPORADAS_EMPLEADOS_EMPLEADOS_OJEADOS] FOREIGN KEY([DNI])
REFERENCES [dbo].[EMPLEADOS_OJEADOS] ([DNI])
GO
ALTER TABLE [dbo].[TEMPORADAS_EMPLEADOS] CHECK CONSTRAINT [FK_TEMPORADAS_EMPLEADOS_EMPLEADOS_OJEADOS]
GO
ALTER TABLE [dbo].[TEMPORADAS_JUGADORES]  WITH CHECK ADD  CONSTRAINT [FK_TEMPORADAS_JUGADORES_JUGADORES_OJEADOS] FOREIGN KEY([DNI])
REFERENCES [dbo].[JUGADORES_OJEADOS] ([DNI])
GO
ALTER TABLE [dbo].[TEMPORADAS_JUGADORES] CHECK CONSTRAINT [FK_TEMPORADAS_JUGADORES_JUGADORES_OJEADOS]
GO
